/* === FOOTER === */
.footer {
    background: #171718;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 60px 0 30px;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__contacts {
    flex: 1 1 300px;
}

.footer__link {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.footer__link img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
}

.footer__address {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 14px;
    line-height: 1.4;
    margin: 20px 0;
    color: #fff;
}

.footer__address img {
    width: 14px;
    height: 14px;
    margin-top: 3px;
    filter: brightness(0) invert(1);
}

.footer__socials {
    display: flex;
    gap: 15px;
}

.footer__socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #242424;
    border: 1px solid rgba(66, 66, 66, 0.25);
    border-radius: 50%;
    transition: background 0.3s;
}

.footer__socials a:hover {
    background: #6B2BE7;
}

.footer__socials img {
    width: 18px;
    height: 18px;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.footer__column h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer__column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__column ul li {
    margin-bottom: 10px;
}

.footer__column ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer__column ul li a:hover {
    color: #BB64FF;
}

.footer__bottom {
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 13px;
    color: #fff;
}

.footer__bottom a {
    color: #BB64FF;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.3s;
}

.footer__bottom a:hover {
    color: #fff;
}

@media (max-width:768px) {
    .footer__inner {
        flex-direction: column;
        gap: 40px;
    }

    .footer__nav {
        flex-direction: column;
        gap: 40px;
    }

    .footer__bottom {
        flex-direction: column;
        text-align: center;
    }
}
