/* === SERVICES === */
.services {
    background: #F3F4F9;
    padding: 60px 0;
    margin-top: -40px;
}

.section-title,
.services h2 {
    font-size: 34px;
    font-weight: 700;
    color: #171718;
    margin-bottom: 28px;
    text-align: center;
}

.services__list,
.services__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.service-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #7B3FF2;
    transition: .3s;
    box-shadow: 5px 5px 0 rgba(107, 43, 231, 0.12);
}

.service-card:hover {
    background: #f3edff;
    box-shadow: 0 4px 15px rgba(123, 63, 242, 0.2);
}

.service-card h3 {
    color: #6B2BE7;
    font-weight: 700;
    font-size: 19.4px;
    margin-bottom: 10px;
}

.service-card p {
    color: rgba(23, 23, 24, 0.8);
    font-size: 15.4px;
    line-height: 1.45;
}
